@use "../../styles/variables" as *;

.svg-search {
  width: 24px;
  height: 24px;
}

.svg-cross {
  width: 30px;
  height: 30px;
}

.search-field {
  width: 100%;
  position: relative;
  align-items: center;
  height: 38px;
  display: flex;
  padding: 2px 4px;
  border-radius: $border-radius;
  //box-shadow: $shadow;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  &.open {
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    z-index: 10;
  }

  button {
    color: black;
  }
}

.search-field__container {
  position: absolute;
  max-height: 400px;
  overflow: auto;
  top: 100%;
  left: 0;
  right: 0;
  background: white;
  //border: $border-width solid $border;
  border-top: none;
  z-index: 1;
  box-shadow: $shadow;
  padding: 0 10px 10px 10px;
  border-bottom-right-radius: $border-radius;
  border-bottom-left-radius: $border-radius;
}

.search-field__empty {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.search-field__toolbar {
  display: flex;
  justify-content: space-between;
}

.search-field__item {
  display: flex;
  align-items: center;
  height: 64px;
  margin-bottom: 8px;
  cursor: pointer;
  color: black;
  padding: 2px 0;

  &:hover {
    //opacity: 0.8;
    background-color: rgba(255, 136, 0, 0.85)
  }
}

.search-field__item-img {
  height: 100%;
}

.search-field__item-name {
  margin-left: 5px;
  font-weight: 500;
}
