@use "../../styles/variables" as *;

.products {
}

.products-content__main {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 20px;
}

.product-item__favorite {
  margin-left: auto;
}

.product-cart-counter {
}

.products-main__products {
  //width: 100%;
}

@media screen and (max-width: 1024px) {
  .products-content__main {
    display: block;
  }
}

