@use "../../../styles/variables" as *;

.header-inner {
  display: grid;
  grid-template-columns: auto auto auto auto 1fr 0.1fr 0.1fr 0.1fr 0.1fr;
  align-items: center;
}

.header-logo {
  padding-right: 5px;
}

.header-search {
  padding: 0 2%;
}

.header-item {
  > button {
    width: 100%;
  }

  &:not(:first-child) {
    padding-left: 1%;
  }

  &:not(:last-child) {
    padding-right: 1%;
  }
}
